/* =========================
   RESET
========================= */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* =========================
   GLOBAL
========================= */

body{
    font-family:"Segoe UI", Arial, sans-serif;
    color:#23432c;
    line-height:1.6;
    background:linear-gradient(
        135deg,
        #f6fcf7,
        #edf8ef,
        #f8fcf8
    );
}

/* =========================
   COMMON CONTAINER
========================= */

.container{
    max-width:1100px;
    margin:40px auto;
    padding:20px;
}

/* ==========================================
   GLOBAL LEAF BACKGROUND
========================================== */

body::before,
body::after{
    content:"";
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    pointer-events:none;
    z-index:-1;
}

body::before{
    background:
        url("./assets/leaf.jpg") no-repeat left 30px top 80px,
        url("./assets/leaf.jpg") no-repeat left 50px center,
        url("./assets/leaf.jpg") no-repeat left 25px bottom 50px;

    background-size:
        85px,
        65px,
        95px;

    opacity:.18;
}

body::after{
    background:
        url("./assets/leaf.jpg") no-repeat right 30px top 90px,
        url("./assets/leaf.jpg") no-repeat right 50px center,
        url("./assets/leaf.jpg") no-repeat right 25px bottom 40px;

    background-size:
        85px,
        65px,
        95px;

    opacity:.18;
}